*{
			user-select: none;
		}
		.size-c{
			width: 300px;
			height: 300px;
		}
		.min-size{
			width: 70px;
		}
		.left{
			left:0;
		}
		.right{
			right:0;
		}
		.bottom{
			bottom:0;
		}
		.top{
			top:0;
		}
		.margin-auto-p{
			margin: 10px;
		}
		.cursor-pointer{
			cursor: pointer;
		}
		.transition-ease-all{
			transition: ease all 0.3s,
		}
